* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
}

nav {
  background-color: hsl(210, 17%, 35%);
  color: hsl(240, 100%, 98%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
}

h1 {
  margin-left: 0.5em;
}

.items {
  list-style: none;
  display: flex;
}

.item {
  margin: 1em;
}

.link {
  text-decoration: none;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
}
